<!DOCTYPE html>
<html lang="{{ htmllang() }}" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        {% block headincludes %}{% endblock headincludes %}
        <title>{% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif -%}</title>
        <link rel="stylesheet" href="{{ paths.theme }}assets/css/main.css"/>
    </head>
    <body class="{{ bodyClass ?? '' }}">
        {% block content %}{% endblock %}
    </body>
</html>
