{% extends 'layouts/default.twig' %}

{% block content %}
    <h1>Articles!</h1>

    {% for record in records %}
        <article>
            <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
            {% if record.teaser %}
                {{ record.teaser }}
            {% else %}
                <p>{{ record.excerpt(300, false, search|default('')) }}</p>
            {% endif %}
        </article>
    {% endfor %}
{% endblock %}
